version: "2"


services:
  timesketch:
    build: .
    links:
      - elasticsearch
      - redis
      - postgres
      - celery
    environment:
      EL_PORT: 9200
      POSTGRES_PASSWORD: "timesketchdbpassword"
      REDIS_PORT: 6379
    ports:
      - "5000:5000"
  redis:
    image: redis
  elasticsearch:
    image: elasticsearch:1.7.5
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: "timesketch"
      POSTGRES_PASSWORD: "timesketchdbpassword"
  celery:
    image: celery
    links:
      - redis
    environment:
      CELERY_BROKER_URL: "redis://redis"
